<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <title>SlimIO Projects Overview</title>
    <style type="text/css">
        body,
        html {
            padding: 0;
            margin: 0;
            height: 100%;
            font-family: "Roboto", sans-serif;
        }

        body {
            display: flex;
            align-content: center;
            justify-content: center;
        }

        #network {
            width: 96vw;
            height: 96vh;
            margin-top: calc(2vh - 4px);
            border: 2px solid lightgray;
        }
    </style>
</head>

<body>
    <section id="network"></section>
    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const raw = await fetch('/data', {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            });
            const projects = await raw.json();
            const internal = Object.entries(projects).filter(([, info]) => !info.external);
            const external = Object.entries(projects).filter(([, info]) => info.external);

            const nodes = [];
            const edges = [];

            let id = 0;

            for (const [label, info] of external) {
                info.id = ++id;
                nodes.push({ id: info.id, label, color: "#4527a0" });
            }

            for (const [label, info] of internal) {
                info.id = ++id;
                nodes.push({ id: info.id, label, color: "#2e7d32" });
                for (const dep of info.extDeps) {
                    edges.push({ from: info.id, to: projects[dep].id });
                }
            }

            for (const [label, info] of internal) {
                for (const dep of info.dependOn) {
                    edges.push({ from: info.id, to: projects[dep].id });
                }
            }


            // create a network
            const container = document.getElementById("network");

            // provide the data in the vis format
            const data = { nodes: new vis.DataSet(nodes), edges: new vis.DataSet(edges) };
            const options = {
                nodes: {
                    shape: "box",
                    size: 24,
                    font: {
                        face: "Roboto",
                        vadjust: 0.5,
                        size: 22,
                        color: "#FFF",
                        bold: true
                    }
                },
                physics: {
                    forceAtlas2Based: {
                        gravitationalConstant: -26,
                        centralGravity: 0.005,
                        springLength: 230,
                        springConstant: 0.18
                    },
                    maxVelocity: 150,
                    solver: "forceAtlas2Based",
                    timestep: 0.35,
                    stabilization: { iterations: 150 }
                }
            };

            // initialize your network!
            const network = new vis.Network(container, data, options);
        });
    </script>
</body>

</html>
