body, html, div, ul, li, p, span, b, h1, h2, h3, h4, h5, h6, label, input {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
}

section#menu {
    width: 280px;
    background: rgba(236, 239, 241, 0.95);
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 9999;
    border: 2px solid #CCC;
    border-radius: 2px;
}
    section#menu > p {
        text-align: center;
        font-size: 16px;
    }
    section#menu span {
        font-size: 14px;
        margin-top: 5px;
        text-align: justify;
    }
    section#menu b {
        color: #06F;
    }
    section#menu ul li {
        font-size: 14px;
    }

section#network {
    flex-grow: 1;
    height: 100vh;
}
